$body_size: 17;
$body_font: "Helvetica",Verdana,Arial,sans-serif;
$body_weight: 400;
$body_height: 1.5;
$body: #000000;








$link_size: 19;
$link_font: "Helvetica",Verdana,Arial,sans-serif;
$link_weight: 400;
$link_height: 1.2;
$link: #ff0000;
$linkHover: #000000;
