.container{
	margin: 0 auto;
	max-width: px($globalWidth) !important;
	padding: 0 px($containerPadding);
	display: flex;
	&.align-center{
		align-items: center;
	}
	&.jc-sb{
		justify-content: space-between;
	}
	&.fdc{
		flex-direction: column;
	}
	&.jc-c{
		justify-content: center;
	}
}

.hero{
	background-color: $containerColor;
	&__description{
		text-align: center;
		p{
			color: $white;
		}
		a{
			color: $link;
		}
		h1{
			color: #17bebb;
		}
	}
}


.button-list,.page-cta>ul{
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	li{
		a{


		}
	}
}
.sidebar{
	width: 33%;
}
form.form{

	display: flex;
	flex-direction: column;
	text-align: center;
	P{
		color: $black;
		margin-bottom: 16px;
		label{
			display: none;
		}
	}
	input,button{
width: 100%;
	}
	input{
		background: #F6F8FA;
		color: $black;
		font-size: 15px;
		padding: 12px;
		border: 1px solid #243454;
		border-radius: 5px;
		line-height: 1.4;
		margin: 0;
		transition: border-color ease-out 300ms;
	}
	a{
		display: block;
		margin-top: 16px;
		text-align: center;
	}
	&.subscribe-form{
		width: 100%;
		padding: 40px;
		background-color: #fcfcfc;
		border-radius: 4px;
		border: 1px solid #e3e3e3;
	}
}


.gallery-list{
	display: flex;
	gap: 60px;
	.gallery-item{
		h3{
			margin-bottom: 15px;
		}
	}
}


.main-content{
	padding: 20px;
	margin: 20px;
	ul{
		list-style: inside;
	}
}


.blog-flex{
	margin-top: 50px;
}


