footer{
	padding: 20px;
	background-color: $black;
	.footer-column{
		text-align: center;
		width: 33%;

		img{
			width: 120px;
		}
		p{
			margin-bottom: 0;
			font-size: 12px;
			color: $white;
			text-align: start;
		}
	}
	ul{
		display: flex;
		justify-content: flex-end;
		gap: 10px;
		li{
			a{
				color: $white;
				font-size: 17px;
			}
		}
	}
}