.cta {
	padding: 24px;
	background-color: $black;

	&__title {
		//text-align: center;

		h2 {
			color: $white;
		}
	}

	ul {
		margin-top: 20px;
	}

	.page-cta {
		text-align: center;
		color: $white;
		padding: 30px;

		ul {

		}

		&:has(ul) {
			padding: 0;
			text-align: start;
		}
	}
}