<nav class="navbar">
    <div class="full-container">
        <div class="container">
            <div class="logo-container">
                <img src="{{header.header_logo}}" alt="">
            </div>
            <div class="social-container">
                {% if site_identity.socials %}
                <ul class="social-menu">
                    {% for social in site_identity.socials %}
                    <li class="social-item">
                        <a href="{{ social.url }}">
                            <i class="{{social.icon}}"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="menu-container">
                {% if header_navigation.header_links %}
                <ul class='main-menu'>
                    {% for link in header_navigation.header_links %}
                    <li class="menu-item first-item">
                        <a href="{{ link.url }}">
                            <span>{{link.label}}</span>
                        </a>

                        {% if link.second_links %}
                            <ul class="submenu second">
                                {% for second_link in link.second_links %}
                                    <li class="menu-item submenu-item second-item">
                                        <a href="{{second_link.url }}">
                                            <span>{{second_link.label}}</span>
                                        </a>

                                        {% if second_link.third_links %}
                                        <ul class="submenu third">
                                            {% for third_link in second_link.third_links %}
                                            <li class="menu-item submenu-item third-item">
                                                <a href="{{third_link.url }}">
                                                    <span>{{third_link.label}}</span>
                                                </a>

                                                {% if third_link.fourth_links %}
                                                <ul class="submenu fourth">
                                                    {% for fourth_link in third_link.fourth_links %}
                                                    <li class="menu-item submenu-item fourth-item">
                                                        <a href="{{fourth_link.url }}">
                                                            <span>{{fourth_link.label}}</span>
                                                        </a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}

                                            </li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}

                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</nav>